[submodule "c/patientor-frontend"]
	path = c/patientor-frontend
	url = https://github.com/fullstack-hy2020/patientor.git
[submodule "d/flight-diary-backend"]
	path = d/flight-diary-backend
	url = https://github.com/fullstack-hy2020/flight-diary.git
